# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/webrtc
/.vs
/packages
/WebrtcSharp/bin
/WebrtcSharp/obj
/unityplugin/x64
/WebrtcSharp/WebrtcSharp.csproj.user
/rtcserver/node_modules
/rtcclient/node_modules
/rtcclient/dist/bundle.js
/RtcCall/bin
/RtcCall/obj
/rtcserver/package-lock.json
/rtcclient/package-lock.json
/ScreenShare/bin
/ScreenShare/obj
/WebrtcSharp/WebrtcSharp.nuspec
/WebrtcSharp/WebrtcSharp.1.0.0.nupkg
/WebrtcSharp/*.nupkg
/MigrationBackup
